html
  head
    title= title
  body
    h1 My Cars
    a(href='/update-cobj') Add to this table
    table
      thead
        tr
          th Name
          th Make
          th Model
          th Year
      tbody
        each car in data
          tr
            td= car.properties.name
            td= car.properties.make
            td= car.properties.model
            td= car.properties.year
